.title {
  font-size: 20px;
  padding: 0 0 40px 130px;
  font-weight: 100;
}

.container {
  width: 100%;
  padding: 0 130px;
}

.tabs {
  display: inline;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.tabButton {
  display: inline;
  color: var(--main);
  width: fit-content;
  height: 19px;
  font-family: var(--font-primary);
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin-right: 25px;
  padding-bottom: 10px;
}

.tabButton:hover {
  border-bottom: 2px solid var(--main);
  cursor: pointer;
}

.tabActive {
  color: var(--main-light);
  border-bottom: 2px solid var(--main-light);
  outline: none;
}

.destination_image {
  animation: imageAnimation 60s linear 0s infinite reverse none;
}



/* Screen */

@media screen and (min-width: 901px) {
  .body {
    background: url('../../../assets/destination/background-destination-desktop.jpg') fixed no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

/* Tablet */

@media screen and (max-width: 901px) {
  .body {
    background: url('../../../assets/destination/background-destination-tablet.jpg') fixed no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

/* Mobile */

@media screen and (max-width: 600px) {
  .body {
    background: url('../../../assets/destination/background-destination-mobile.jpg') fixed no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

@keyframes imageAnimation{
  0% {
    transform:  rotate(360deg);
  }
}