/* Screen */

@media screen and (min-width: 901px) {
  .body {
    background: url('../../../assets/home/background-home-desktop.jpg') fixed no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

/* Tablet */

@media screen and (max-width: 901px) {
  .body {
    background: url('../../../assets/home/background-home-tablet.jpg') fixed no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

/* Mobile */

@media screen and (max-width: 600px) {
  .body {
    background: url('../../../assets/home/background-home-mobile.jpg') fixed no-repeat;
    background-size: cover;
    height: 100vh;
  }
}
