/* Common */

.logo {
  margin-top: 62px;
  margin-left: 40px;
}

.line {
  background: #F2F2F2;
  height: 1px;
  margin-top: 85px;
  width: 473px; /* fix line width and visibility over navbar, maybe ::after */

}

.navbar {
  background: #262a33;
  height: 96px;
  padding: 38px;
  position: absolute;
  top: 40px;
  width: 58.3%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.numbers {
  font-weight: bold;
  margin-right: 13px;
}

a {
  color: var(--main-light);
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: 19px;
  margin: 0 auto;
}

/* Screen */

@media screen and (min-width: 901px) {

}

/* Tablet */

@media screen and (max-width: 900px) {
  .logo {
    margin-top: 24px;
    margin-left: 40px;
  }

  .line {
    display: none;
  }

  .navbar {
    top: 0;
  }

  .numbers {
    display: none;
  }

  a {
    font-size: 17px;
    padding-right: 3px;
  }

  a:last-of-type {
    padding-right: 0;
  }
}

/* Mobile */

@media screen and (max-width: 600px) {
  .logo {
    margin-top: 20px;
    margin-left: 20px;
  }

  .line {
    display: none;
  }
}

